---
export const prerender = false
import Project from "../components/es/Project.astro"
import Layout from "../layouts/es/Layout.astro"
import {findProjectBySlug} from '../lib/api/es/findProjectBySlug.js'
const {projectSlug} = Astro.params 
const project = findProjectBySlug(projectSlug)
---

<Layout title=`Rafa Canosa | ${project.name}` description={project.description} canonical=`https://rafa-canosa-portfolio.vercel.app/${project.slug}`>
    <main>
        {project ? 
        <Project project={project}/> :
        null
        }
    </main>
</Layout>